@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-menu{
    background-color: black;
    position: fixed;
    left: -100%;
    transition: 850ms;

}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}